@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');


* {
	font-family: "Fredoka", sans-serif;
}

.navbar .navbar-toggler,
.navbar .navbar-toggler:focus,
.navbar .offcanvas .btn-close:focus {
	border: none;
	box-shadow: none;
}