@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');


* {
	font-family: "Fredoka", sans-serif;
}

:root {
    --main-bg: #F8F9FA;
    --header-bg: #001F3F;
    --navbar-bg: #2C3E50;
    --section-bg: #FFFFFF;
    --footer-bg: #343A40;
    --accent-bg: #FFC72C;
}


body {
	background: var(--main-bg);
}

.navbar .navbar-toggler,
.navbar .navbar-toggler:focus,
.navbar .offcanvas .btn-close:focus {
	border: none;
	box-shadow: none;
}